* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    min-height: 100vh;
  }
  
  /* -----------------company----------------------- */
  .company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .img {
    width: 75%;
    margin: 1rem 0rem 0rem 2rem;
  }
  
  .img img {
    width: 100%;
  }
  
  .company-info {
    width: 100%;
    margin-right: 4rem;
    margin-left: 2rem;
  }
  
  .company-info span {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .company-info span .our {
    color: #eebb14;
  }
  
  .company-info p{
    font-size: 1.1rem;
  }
  